<div id="q1" class="collapse" data-parent="#faqAccordion">
    <div class="card-body">
        <!--Of course Wakanda is real. It is real in my heart. <br>-->
        <!--WAKANDA FOREVER-->
    </div>
</div>