<div class="footerSpacing">&nbsp;</div>
<div class="footer">
    <div class="container">
        <p>
            © {{getCurrentYear}} Copy Right:&nbsp;<a id="footerLink" href="./">Muziki</a>
        </p>
    </div>
</div>
