<!--Changed the footer to be an actual footer class rather than a div container. Also, changed the alignment to the right--> 
<footer class="page-footer font-small bg-primary fixed-bottom">
    <div class="footer-copyright text-right text-white py-3">© {{getCurrentYear}} Muziki, LLC. All Rights Reserved</div>
</footer>