<div class="jumbotron" id="jumbotron">
    <div>
        <img alt="topImage3" src="../public/images/MusicNote.png" class="jumboImage">
        <img alt="topImage1" src="../public/images/Headphone.png" class="jumboImage">
        <img alt="topImage2" src="../public/images/Vinyl.png" class="jumboImage">
    </div>
</div>