<header id="topNav">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg">
            <a id="topNav-active" href="./">MUZIKI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto mt-lg-0" id="topNav-right">
                    <button type="button" id="nav-btn" class="btn btn-outline-secondary" data-toggle="modal" data-target="#postModal" {{disabled}}>Post a Thread</button>
                    <form id="sign-up" action="/signup">
                        <button type="submit" id="nav-btn" class="btn btn-outline-secondary">Sign Up</button>
                    </form>
                    <form method="get" id="log-in" action="/login">
                        <button type="submit" id="nav-btn" class="btn btn-outline-secondary">Log In</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="modal" id="postModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <h3 class="modal-title">
                    Post a Thread
                </h3>

            </div>
            <div class="modal-body">
                <form action="/thread_form" method="POST">

                    <label for="title"><b>Title</b></label>
                    <input type="text" placeholder="Enter Title" name="title" id="title" required>

                    <label for="post"><b>Message</b></label>
                    <textarea class='message-box' placeholder="Enter your message here" name="message" id="post" required></textarea>
                    <div class="buttonArea">
                        <label for="categories">&nbsp;</label>
                        <select name="categories" id="categories">
                            <option value="latest_music"> Latest Music</option>
                            <option value="general_music_discussion"> General Music Discussion</option>
                            <option value="music_reviews"> Music Reviews</option>
                            <option value="off_topic_discussion"> Off Topic Discussion</option>
                        </select>
                        <button type="button" onclick="" data-dismiss="modal" class="cancelbtn">Cancel</button>
                        <button type="submit" class="signupbtn">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var urls = {
        'latest_music.hbs' : 'latest_music',
        'general_music.hbs' : 'general_music_discussion',
        'music_reviews.hbs' : 'music_reviews',
        'off_topic.hbs' : 'off_topic_discussion'
    };

    $('#categories').val(urls[window.location.href.substring(22)]);
    /*
    $(document).ready(function() {
        $(".dropdown .dropdown-menu li a")[urls[window.location.href.substring(22)]].click();
    });
    */
    console.log(urls[window.location.href.substring(22)]);
</script>

<script>
    /*
    var url = window.location.href;
    url = url.split('/');
    console.log(url);
    console.log('https://' + url[2] + '/login.hbs');
    $("#sign-in").attr('action', 'http://' + url[2] + '/login.hbs');
    $("#log-out").attr('action', 'http://' + url[2] + '/signup.hbs');
*/
</script>
