<header id="topNav">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg">
            <a id="topNav-active" href="./">MUZIKI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto mt-lg-0" id="topNav-right">
                    <a href="../create_post.hbs">Post a Thread</a>
                    <a href="../signup.hbs">Sign Up</a>
                    <a href="../login.hbs">Log In</a>
                </div>
            </div>
        </nav>
    </div>
</header>
