<div id="topnav">
  <a href="./" id="topnav-active">MUZIKI</a>
  <div class="topnav-right" id="topnav-right">
    <a href="../signup.hbs">Sign Up</a>
    <a href="../login.hbs">Log In</a>
  </div>

</div>