<form class="log-out" action="/sign-out" method="get">
    <button id="log-out" type="submit" class="btn nav-btn" data-toggle="modal" >Sign out</button>
</form>
<header id="topNav" class="topNav">
    <div class="container">
        <!--Forms dont work inside the nav bar -> Solution disable signout by default and place sign out on top of log in -->

        <nav id="index-navbar" class="navbar navbar-light navbar-expand-lg">
            <a id="topNav-active" href="./">MUZIKI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto mt-lg-0" id="topNav-right">
                    <a href="/account" id="account-btn" class="btn nav-btn">{{email}}</a>
                    <form action="get-lyrics" method="post">
                        <a href="/song_lyrics" id="lyrics-button" class="btn nav-btn">Song Lyrics</a>
                    </form>
                    <button type="button" id="post-thread" class="btn nav-btn" data-toggle="modal" data-target="#postModal" {{disabled}}>Post a Thread</button>
                    <button type="button" id="sign-up-btn" class="btn nav-btn" data-toggle="modal" data-target="#signupModal">Sign Up</button>
                    <button type="button" id="nav-btn" class="btn nav-btn" onclick="updateButton();" data-toggle="modal" data-target="#loginModal" value={{loggedin}}>Log in</button>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="modal" id="postModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <h3 class="modal-title">
                    Post a Thread
                </h3>

            </div>
            <div class="modal-body">
                <form action="/thread_form" method="POST">

                    <label for="title"><b>Title</b></label>
                    <input type="text" placeholder="Enter Title" name="title" id="title" required>

                    <label for="post"><b>Message</b></label>
                    <textarea class='message-box' placeholder="Enter your message here" name="message" id="post" required></textarea>
                    <div class="buttonArea">
                        <label for="categories">&nbsp;</label>
                        <select name="categories" id="categories">
                            <option value="latest_music"> Latest Music</option>
                            <option value="general_music_discussion"> General Music Discussion</option>
                            <option value="off_topic_discussion"> Off Topic Discussion</option>
                        </select>
                        <button type="button" onclick="" data-dismiss="modal" class="cancelbtn">Cancel</button>
                        <button type="submit" class="signupbtn">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="signupModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <h3 class="modal-title">
                    Sign Up
                </h3>
            </div>
            <div class="modal-body">
                <form action="/signup_form" method="POST">
                    <p>Please fill in this form to create an account.</p>
                    <hr>
                    <label for="firstName"><b>First Name</b></label>
                    <input type="text" placeholder="Enter first name" name="firstName" id="firstName" required>

                    <label for="lastName"><b>Last Name</b></label>
                    <input type="text" placeholder="Enter last name" name="lastName" id="lastName" required>

                    <label for="email"><b>Email</b></label>
                    <input type="email" placeholder="Enter Email" name="email" id="email" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <small>
                        By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
                    </small>

                    <div class="buttonArea">
                        <button type="button" onclick="" data-dismiss="modal" class="cancelbtn">Cancel</button>
                        <button type="submit" class="btn" id="signup-btn">Sign Up</button>
                    </div>
                </form>
                <div id="passwordcheck">
                    <h5>Password must contain the following</h5>
                    <p id="lower" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="upper" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="loginModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <h3 class="modal-title">
                    Login
                </h3>
            </div>
            <div class="modal-body">
                <form action="/login_form" method="POST">
                    <p>Please fill in your email and password to log in.</p>
                    <hr>

                    <label for="email"><b>Username</b></label>
                    <input type="email" placeholder="Enter Email" name="email" id="email" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" id="password" required>

                    <label for="vcode"><b>Captcha</b></label>
                    <img id="captchapng" src="/vcode" alt="Smiley face" height="30" width="80">
                    <input type="text" placeholder="Captcha" name="vcode" id="vcode" required>

                    <div class="buttonArea">
                        <button type="button" onclick="" data-dismiss="modal" class="cancelbtn">Cancel</button>
                        <button type="submit" onsubmit="updateButton()" class="btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var urls = {
        'latest_music' : 'latest_music',
        'general_music' : 'general_music_discussion',
        'music_reviews' : 'music_reviews',
        'off_topic' : 'off_topic_discussion',
        '' : 'general_music_discussion'
    };

    var url = window.location.href;
    url = url.split('/');
    $('#categories').val(urls[url[3]]);

</script>

<script>

    var url = window.location.href;
    url = url.split('/');
    if (url[3] === ""){
        $('#topNav').addClass('index-nav');
    }


    //Pass the value 'True' to LoggedIn of the log-in button
    loggedin = document.getElementById('nav-btn');
    function updateButton() {
        //Changes log-in button to a log-out button
        if (loggedin.value === 'True') {
            //deals with button
            loggedin.innerHTML = 'Log Out';
            $('#nav-btn').attr('onclick', 'updateButton(); logOut()');
            $('#nav-btn').attr('data-target', '');
            $('#sign-up-btn').hide();

            //deals with account href
            $('#account-btn').addClass('btn nav-btn');
            $('#post-thread').removeClass('account-btn-off');
            $('#account-btn').removeClass('account-btn-off');
            $('#lyrics-button').removeClass('account-btn-off');
            $('#lyrics-button').show();
        } else {
            //deals with button
            loggedin.innerHTML = 'Log In';
            $('#nav-btn').attr('onclick', 'updateButton();');
            $('#nav-btn').attr('data-target', '#loginModal');

            //deals with account href
            $('#account-btn').removeClass('btn nav-btn');
            $('#post-thread').addClass('account-btn-off');
            $('#account-btn').addClass('account-btn-off');
            $('#lyrics-button').addClass('account-btn-off');
            $('#lyrics-button').hide()
        }
    }

    //Deals with what happens when you click the log-out button
    function logOut(){

        document.getElementById("log-out").click();
        //updates button to become a log-in button again
    }

    updateButton();


</script>

<script>
    var myInput = document.getElementById("password");
    var letter = document.getElementById("lower");
    var capital = document.getElementById("upper");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    var lowercase = false;
    var uppercase = false;
    var num = false;
    var len = false;
    $('#signup-btn').addClass('disabled');
    
    myInput.onkeyup = function() {
        console.log(uppercase);
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if(myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
            lowercase = true;
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
            lowercase = false;
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if(myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
            uppercase = true;
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
            uppercase = false;
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if(myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
            num = true;
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
            num = false;
        }

        // Validate length
        if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
            len = true;
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
            len = false;
        }
        if (uppercase && lowercase && num && len){
            $('#signup-btn').removeClass('disabled');
        }else{
            $('#signup-btn').addClass('disabled');
        }
    }


</script>