<div class="modal" id="postModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    Post a Thread
                </h6>
            </div>
            <div class="modal-body">
                <form action="/thread_form" method="POST">
                    <p>Please fill in this form to create a thread.</p>
                    <hr>

                    <label for="title"><b>Title</b></label>
                    <input type="text" placeholder="Enter Title" name="title" id="title" required>

                    <label for="post"><b>Message</b></label>
                    <input type="text" placeholder="Enter your message here" name="message" id="post" required>

                    <div class="buttonArea">
                        <label for="categories">&nbsp;</label>
                        <select name="categories" id="categories">
                            <option value="latest_music"> Latest Music</option>
                            <option value="general_music_discussion"> General Music Discussion</option>
                            <option value="music_reviews"> Music Reviews</option>
                            <option value="off_topic_discussion"> Off Topic Discussion</option>
                        </select>
                        <button type="button" onclick="window.location.href = './';" class="cancelbtn">Cancel</button>
                        <button type="submit" class="signupbtn">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>