<div class="accordion" id="postAccordion">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#postCollapse">
                    Post a Thread
                </button>
            </h5>
        </div>
        <div id="postCollapse" class="collapse" data-parent="#postAccordion">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="usr">Thread Title:</label>
                        <input type="text" class="form-control" id="usr">
                    </div>
                    <div class="form-group">
                        <label for="comment">Message:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>