<div class="card border-0">
    <div class="card-header" id="threadCardHeader" data-toggle="collapse" data-target="#threadCollapse">
        <h5 class="mb-0 button-name">
            Thread Title
        </h5>
    </div>
    <div id="threadCollapse" class="collapse" data-parent="#generalThreads">
        <div class="card-body">
            Thread Text
            <div class="accordion" id="commentsAccordion">
                <div class="card" data-toggle="collapse" data-target="#comments">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <p class="button-name">Comments</p>
                        </h5>
                    </div>
                    <div id="comments" class="collapse" data-parent="#commentsAccordion">
                        <div class="card-body">
                            Comments go here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>