#latestmusic{
    font-family: Arial;
    height: 300px;
    width: 120px;
}

#button1{
    height: 95%;
    width: 95%;
    position: absolute;
    background-color: #563d7c;
    border-radius: 2.5%;
    color: #f2f2f2;
}

#general{
    padding: 50px;
}

#top{
    color: #563d7c;
    height: 30%;
}

#bottom{
    background-color: white;
    color: rgb(77, 77, 170);
    width: 101%;
    height: 15%;
    margin-top: 55px;
    font-size: 20pt;
    text-align: right;
    padding-right: 10px;
}

#button1:hover{
    background-color: grey
}