<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MUZIKI Login</title>
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

{{> navbar}}

<div class="container containerMargin">
    <div class="card">
        <div class="card-header" id="cardHeader">
            <h1>Create a Thread</h1>
        </div>
        <div class="card-body">
            <form action="/thread_form" method="POST">

                <label for="title"><b>Title</b></label>
                <input type="text" placeholder="Enter Title" name="title" id="title" required>

                <label for="post"><b>Message</b></label>
                <input type="text" placeholder="Enter your message here" name="message" id="post" required>

                <div class="buttonArea">
                    <label for="categories">&nbsp;</label>
                    <select name="categories" id="categories">
                        <option value="latest_music"> Latest Music</option>
                        <option value="general_music_discussion"> General Music Discussion</option>
                        <option value="music_reviews"> Music Reviews</option>
                        <option value="off_topic_discussion"> Off Topic Discussion</option>
                    </select>
                    <button type="button" onclick="window.location.href = './';" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Post</button>
                </div>

            </form>
        </div>
    </div>
</div>

{{> footer}}

</body>
</html>
