<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MUZIKI general music</title>
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../createThread.js"></script>
</head>

<body>

{{> navbar}}
<div class="container containerMargin">
    <h1>Thread List</h1>
    <!--Added a accordion to house the threads-->
    <div class="accordion" id="generalThreads">
        <!--Cards to contain each of the threads-->
        {{>threads}}
    </div>
</div>

<!--<div class="container containerMargin">-->
    <!--<h1>Thread List</h1>-->
    <!--&lt;!&ndash;Added a accordion to house the threads&ndash;&gt;-->
    <!--<div class="accordion" id="generalThreads">-->
        <!--&lt;!&ndash;Cards to contain each of the threads&ndash;&gt;-->

    <!--</div>-->
<!--</div>-->
{{> footer}}

</body>

</html>

<!--<script>-->
    <!--//to connect to back-end, add more parameters and link that to back-end data instead of hard-coding text-->
    <!--addThread('headingOne', 'collapseOne');-->
    <!--addThread('headingTwo', 'collapseTwo');-->
    <!--addThread('headingThree', 'collapseThree');-->
    <!--addThread('headingFour', 'collapseFour');-->
    <!--addThread('headingFive', 'collapseFive');-->
<!--</script>-->
