<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MUZIKI</title>
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

{{> navbar}}

<div class="jumbotron" id="jumbotron">
    <h1 class="display-4">Welcome to Muziki!</h1>
    <br>
    <p class="lead">The place to be for all things music and more</p>
    <div>
        <img alt="topImage3" src="../public/images/MusicNote.png" class="jumboImage">
        <img alt="topImage1" src="../public/images/Headphone.png" class="jumboImage">
        <img alt="topImage2" src="../public/images/Vinyl.png" class="jumboImage">
    </div>

    <br>
</div>

<div class="container">
    <div class="row"></div>
    <div class="col">
        <br>
        <h1>Forum List</h1>
    </div>
    <br>
    <div class="row">
        <div class="col" onclick="window.location.href = './latest_music.hbs';">
            <div class="card border-0">
                <div class="card-body musicCard">
                    <h2>Latest Music</h2>
                    <p>The latest music news, announcements, industry rumours, sales figures, etc. The pulse of the music
                        industry.</p>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href = './latest_music.hbs';">
            <div class="card border-0">
                <div class="card-body musicCard">
                    <h2>General Music Discussion</h2>
                    <p>A space to discuss and share any song or album old and new with your fellow Muziki members!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" onclick="window.location.href = './latest_music.hbs';">
            <div class="card border-0">
                <div class="card-body musicCard">
                    <h2>All Threads</h2>
                    <p>From the latest albums to the classics, post your reviews on here to see how you enjoyed these
                        albums!</p>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href = './latest_music.hbs';">
            <div class="card border-0">
                <div class="card-body musicCard">
                    <h2>Off-Topic Discussion</h2>
                    <p>Any topics or news outside of music can be discussed freely here! </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>