<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MUZIKI</title>
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

{{> navbar}}

<div class="jumbotron" id="jumbotron">
    <h1 class="display-4">Welcome to Muziki!</h1>
    <br>
    <p class="lead">The place to be for all things music and more</p>
    <div>
        <img alt="topImage3" id="icon1" src="../public/images/MusicNote.png" class="jumboImage">
        <img alt="topImage1" id="icon2" src="../public/images/Headphone.png" class="jumboImage">
        <img alt="topImage2" id="icon3" src="../public/images/Vinyl.png" class="jumboImage">
    </div>

    <br>
</div>

<div class="container">
    <div class="row"></div>
    <div class="col">
        <br>
        <h1>Forum List</h1>
        <br>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6" onclick="window.location.href = './latest_music';">
            <div class="card border-0 discussionCard">
                <img class="card-img-top" id="cImg1" alt="cardImage1" src="../public/images/cardImg1.png" height="200" width="540">
                <div class="card-body border-0 musicCard">
                    <h3>Latest Music</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6" onclick="window.location.href = './general_music';">
            <div class="card border-0 discussionCard">
                <img class="card-img-top" id="cImg2" alt="cardImage1" src="../public/images/cardImg2.png" height="200" width="540">
                <div class="card-body border-0 musicCard">
                    <h3>General Music</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" onclick="window.location.href = './all_posts';">
            <div class="card border-0 discussionCard">
                <img class="card-img-top" id="cImg3" alt="cardImage1" src="../public/images/cardImg3.png" height="200" width="540">
                <div class="card-body border-0 musicCard">
                    <h3>All Threads</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6" onclick="window.location.href = './off_topic';">
            <div class="card border-0 discussionCard">
                <img class="card-img-top" id="cImg4" alt="cardImage1" src="../public/images/cardImg4.png" height="200" width="540">
                <div class="card-body border-0 musicCard">
                    <h3>Off Topic</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
<script>
    $(".card .card-img-top").css({
        "border-top-right-radius": "10px",
        "border-top-left-radius": "10px",
        "cursor": "pointer"
    }).hover(
            function () {
                $(this).siblings().css({"background-color": "rgb(139, 121, 162)"});
            }, function () {
                $(this).siblings().css({"background-color": "#e1dbe5"});
            }
    );
    $(".musicCard").hover(
            function () {
                $(this).css({"background-color": "rgb(139, 121, 162)"});
            }, function () {
                $(this).css({"background-color": "#e1dbe5"});
            }
    );
    // $("#icon2").click(
    //         function () {
    //             $("#jumbotron, .footer, .topNav").css({"background-color": "#D2AAD2"});
    //             $("#cImg1").prop("src", "https://i.imgur.com/w2wze4G.jpg");
    //             $("#cImg2").prop("src", "https://i.imgur.com/B2Q7Vwz.jpg");
    //             $("#cImg3").prop("src", "https://i.imgur.com/0uyo74G.jpg");
    //             $("#cImg4").prop("src", "https://i.imgur.com/l0myIiu.jpg");
    //             $("#icon1").prop("src", "https://i.imgur.com/xQo7j2C.png");
    //             $("#icon2").prop("src", "https://i.imgur.com/JejGF8p.png");
    //             $("#icon3").prop("src", "https://i.imgur.com/gOrQCOA.png");
    //         }
    // );
    // $("#icon1").click(
    //         function () {
    //             $("#jumbotron, .footer, .topNav").css({"background-color": "#563d7c"});
    //             $("#cImg1").prop("src", "../public/images/cardImg1.png");
    //             $("#cImg2").prop("src", "../public/images/cardImg2.png");
    //             $("#cImg3").prop("src", "../public/images/cardImg3.png");
    //             $("#cImg4").prop("src", "../public/images/cardImg4.png");
    //             $("#icon1").prop("src", "../public/images/MusicNote.png");
    //             $("#icon2").prop("src", "../public/images/Headphone.png");
    //             $("#icon3").prop("src", "../public/images/Vinyl.png");
    //         }
    // );
</script>
</body>
</html>