<!DOCTYPE html>

<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/threadlist.css">
<link rel="stylesheet" href="../public/css/general.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>@import url('https://fonts.googleapis.com/css?family=Monoton');</style>
  
</head>
<style type="text/css">
#userAddedDiv div {
  background:red;
  height: 200px;
  width: 70%;
  left: 10%;
  margin-bottom: 8px;
  padding: 5px;
  text-align: center;
}

.createBoxButton {
  display:inline-block;
  padding:2px 8px;
  vertical-align:middle;
  text-decoration:none;
  color:#000;
  background:blue;
  border:2px solid #888;
  border-radius:8px;
}

.createBoxButton:active,
.createBoxButton:hover {
  background:#DDD;
}
#leftbox {
  right: 20px;
  top: 20%;
  position: absolute;

}
</style>

<body>
    {{> navbar}}
    <br><br>

    <div class="container">
        <h1>Thread List</h1>
    </div>

    <br>

<div class="container">
    <table id="table">
        <div>
            <tr>
                <th>Thread Title</th>            
            </tr>
        </div>
        
            <tr>
            <td><p>THREAD NAME</p>
                <p>Posted by: </p>
            </td>
            </tr>
        
            <tr>
            <td><p>THREAD NAME</p>
                <p>Posted by: </p></td>
            </tr>
            <tr>
            <td><p>THREAD NAME</p>
                <p>Posted by: </p></td>
                </tr>
            <tr>
            <td><p>THREAD NAME</p>
                <p>Posted by: </p></td>
            </tr>
                
    </table>        
</div>



<script type="text/javascript">
var numberOfDiv=0;
function createDiv() {
  ++numberOfDiv;
  with (document) {
    var newDiv = createElement('div');
    with (newDiv) {
      id='BOX'+numberOfDiv;
      appendChild(createTextNode('Box '+numberOfDiv));
    }
    getElementById('userAddedDiv').appendChild(newDiv);
    // if (document.all) {
    //   alert(newDiv.innerText);
    // } else {
    //   alert(newDiv.textContent);
    // }
  }

}

document.write(
  '<div id="userAddedDiv"></div>' +
  '<div id="leftbox"><a href="javascript:createDiv();" class="createBoxButton">Create Thread</a></div>'
);
</script>

{{> footer}}

</body>

</html>