<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MUZIKI off-topic</title>
    <link rel="stylesheet" href="../public/css/general.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

{{> navbar}}

<!--<div class="container containerMargin">-->
    <!--<h1>Thread List</h1>-->
<div class="container containerMargin">
    <h1 id="thread-titles">Thread List</h1>
    <!--Added a accordion to house the threads-->
    <div class="accordion" id="generalThreads">
        {{>threads}}
    </div>
</div>

{{> footer}}

</body>

<script>
    url = (window.location.href.split('/')[3]).split('_');
    temp = [];
    for (var i in url) {
        temp.push(url[i].charAt(0).toUpperCase() + url[i].slice(1))
    }
    $("#thread-titles").html((temp.join(' ')));
</script>

</html>
