<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Success</title>
        <link rel="stylesheet" href="../public/css/general.css">
        <link rel="stylesheet" href="../public/css/confirm.css">

        <style>
            @import url('https://fonts.googleapis.com/css?family=Monoton');
        </style>
    </head>

    <body>

        {{> navbar}}

        <div class="container">
            <form class="modal-content animate">        
                <div class="container">
                    <h1>Post successfully added!</h1>
                    <p>Check back to the thread list to view your thread.</p>
                    <hr>
                    <button type="button" onclick="window.location.href = './';">OK</button>
                </div>    
            </form>                
        </div>
        
        {{> footer}}  
    </body>
</html>