<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>MUZIKI</title>-->
    <!--<link rel="stylesheet" href="../public/css/general.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--{{> navbar}}-->

    <!--<div class="container">-->
        <!--<h1>Thread List</h1>-->
    <!--</div>-->

    <!--<br>-->
    <!--&lt;!&ndash;Added a accordion to house the threads&ndash;&gt;-->
    <!--<div class="accordion" id="threadlist">-->
        <!--&lt;!&ndash;Cards to contain each of the threads&ndash;&gt;-->
        <!--<div class="card">-->
            <!--<div class="card-header" id="headingOne">-->
                <!--<h5 class="mb-0">-->
                    <!--<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                        <!--Thread #1-->
                    <!--</button>-->
                <!--</h5>-->
            <!--</div>-->
            <!--&lt;!&ndash;The thread text that will appear when you click the thread title&ndash;&gt;-->
            <!--<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#threadlist">-->
                <!--<div class="card-body">-->
                     <!--This is just a filler text for the thread.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="card-header" id="headingTwo">-->
                <!--<h5 class="mb-0">-->
                    <!--<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
                        <!--Thread #2-->
                    <!--</button>-->
                <!--</h5>-->
            <!--</div>-->
            <!--<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#threadlist">-->
                <!--<div class="card-body">-->
                    <!--This is just a filler text for the thread.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<div class="card-header" id="headingThree">-->
                <!--<h5 class="mb-0">-->
                    <!--<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
                        <!--Thread #3-->
                    <!--</button>-->
                <!--</h5>-->
            <!--</div>-->
            <!--<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#threadlist">-->
                <!--<div class="card-body">-->
                      <!--This is just a filler text for the thread.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--<br>-->

<!--<form class="modal-content">-->
    <!--<div class="container">-->
        <!--<div class="form-group">-->
            <!--<label for="usr">Thread Title:</label>-->
            <!--<input type="text" class="form-control" id="usr">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="comment">Message:</label>-->
            <!--<textarea class="form-control" rows="5" id="comment"></textarea>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->



<!--<script type="text/javascript">-->
<!--function createDiv() {-->
  <!--with (document) {-->
    <!--var form = createElement('form');-->
    <!--with (form) {-->
        <!--var maindiv = document.createElement("div");-->
        <!--var lebl1 = document.createElement("div");-->
        <!--var lebl2 = document.createElement("div");-->


        <!--var label1 = document.createElement("Label");-->
        <!--label1.innerHTML = "Thread Title:";-->
        <!--lebl1.appendChild(label1);-->

        <!--var input = document.createElement("input");-->
        <!--input.setAttribute("style", "border-radius:2%");-->
        <!--input.setAttribute("size", "85%");-->
        <!--input.setAttribute("id", "lolty");-->
        <!--lebl1.appendChild(input);-->

        <!--var label2 = document.createElement("Label");-->
        <!--label2.innerHTML = "Message:";-->
        <!--lebl2.appendChild(label2);-->
        <!--var textarea = document.createElement("textarea");-->
        <!--textarea.setAttribute("rows", "5");-->
        <!--textarea.setAttribute("id", "lol");-->
        <!--lebl2.setAttribute("style", "padding:1%");-->
        <!--lebl1.setAttribute("style", "padding:1%");-->
        <!--lebl2.appendChild(textarea);-->
        <!--textarea.setAttribute("style", "width:300px");-->
        <!--textarea.setAttribute("style", "margin:auto");-->
        <!--form.setAttribute("id", "that");-->


      <!--maindiv.appendChild(lebl1);-->
      <!--maindiv.appendChild(lebl2);-->
      <!--form.appendChild(maindiv);-->
    <!--}-->
    <!--getElementById('userAddedDiv').appendChild(form);-->
  <!--}-->

<!--}-->

<!--document.write(-->
  <!--'<div id="userAddedDiv" class="modal-content"></div>' +-->
  <!--'<div id="leftbox" ><a href="javascript:createDiv();" class="createBoxButton">Create Thread</a></div>'-->
<!--);-->
<!--</script>-->

<!--{{> footer}}-->

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--</body>-->

<!--</html>-->