#latestmusic{
    font-family: Arial;
    height: 300px;
    width: 120px;
}

#button1{
    height: 95%;
    width: 95%;
    position: absolute;
    background-color: #563d7c;
    border-radius: 2.5%;
    color: #f2f2f2;
}

#button1:hover{
    background-color: grey
}