
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Monoton");

/* General
============================================================================================ */
body {
    font-family: "Raleway", sans-serif;
}

#topNav {
    overflow: hidden;
    background-color: #563d7c;
}

#topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topNav a:hover {
    background-color: #ddd;
    color: black;
}

#topNav-active {
    color: white;
    font-family: 'Monoton', cursive;
    font-size: 30px;
}

#topNav-right {
    float: right;
    font-size: 18px;
}

#jumbotron{
    background-color: #563d7c;
    text-align: center;
    border-bottom-right-radius: 12.5%;
    border-bottom-left-radius: 12.5%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    color: white;
}

.jumboImage{
    max-height: 80px;
    max-width: 80px;
    margin-right: 8px;
    margin-left: 8px;
}

.footer {
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f2f2f2;
    background: #563d7c;
    text-align: right;
    padding-top: 10px;
}

.footer div p a {
    color: #f2f2f2;
}

/* discussionTopicLink
============================================================================================ */

.card {
    margin-bottom: 40px;
}

.musicCard {
    background-color: #563d7c;
    color: #f2f2f2;
    height: 260px;
    border-radius: 16px;
}

.musicCard h2 {
    padding-top: 28px;
    font-weight: 600;
}

.musicCard p {
    font-size: 16px;
}

.musicCard:hover{
    background-color: grey
}
