
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Monoton");

/* General
============================================================================================ */

html {
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    position: relative;
    min-height: 100%;
    margin:0;
    padding:0;
}

#jumbotron {
    background-color: #563d7c;
    text-align: center;
    border-bottom-right-radius: 12.5%;
    border-bottom-left-radius: 12.5%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: white;
    margin-bottom: 60px;
}

.jumboImage {
    max-height: 80px;
    max-width: 80px;
    margin-right: 8px;
    margin-left: 8px;
}

.footerSpacing {
    height: 140px;
}

.footer {
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f2f2f2;
    background: #563d7c;
    text-align: right;
    position: absolute;
    padding-top: 10px;
}

.footer div p a {
    color: #f2f2f2;
}



/* Header
============================================================================================ */

#topNav {
    overflow: hidden;
    background-color: #563d7c;
}

#topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topNav a:hover {
    background-color: rgb(139, 121, 162);
    color: #2f254b;
}

#topNav-active {
    color: white;
    font-family: 'Monoton', cursive;
    font-size: 30px;
}

#topNav-right {
    float: right;
    font-size: 18px;
}



/* discussionTopicLink
============================================================================================ */

.card {
    margin-bottom: 40px;
}

.musicCard {
    background-color: #563d7c;
    color: #f2f2f2;
    height: 260px;
    border-radius: 16px;
}

.musicCard h2 {
    padding-top: 28px;
    font-weight: 600;
}

.musicCard p {
    font-size: 16px;
}

.musicCard:hover{
    background-color: rgb(139, 121, 162);
    color: #2f254b;
}


/* Login + Signup
============================================================================================ */

.lgSg {
    margin-top: 100px;
}

label {
    margin-top: 10px;
    font-weight: 300;
    font-size: 18px;
}

#cardHeader {
    background-color: #563d7c;
    color: #f2f2f2;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.buttonArea {
    margin-top: 10px;
    text-align: right;
}

.buttonArea button {
    border-radius: 6px;
    background-color: #563d7c;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    color: #f2f2f2;
}

.buttonArea button:hover {
    background-color: rgb(139, 121, 162);
    color: #2f254b;
}

