#table{
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
} 

#tabletd, .tableth {
    border: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px; 
  }

tr{
    font-size: 16px;
}
  
#table tr:nth-child(even){background-color: #f2f2f2;}
  
#table tr:hover {background-color: #ddd;}
  
#table th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: #563d7c;
    color: white;
    font-size: 16pt;
  }
  
#threadbutton{
  background-color: #563d7c
}


.modal-content {
  background-color:#563d7c;
  margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  color: #f2f2f2;
  width: 60%; /* Could be more or less, depending on screen size */
  padding: auto;
}
